# {{ ansible_managed }}
---
version: "3"

services:
  jellyfin:
    image: linuxserver/jellyfin
    container_name: jellyfin
    hostname: jellyfin
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Asia/Kolkata
      - UMASK_SET=022 #optional
    volumes:
      - ./data/library:/config
      - /home/pi/media:/data/tvshows
      - /home/pi/media:/data/movies
      - /home/pi/media:/data/online_radio
      - /home/pi/media:/data/music
      - ./data/lib:/opt/vc/lib #optional
    ports:
      - 8096:8096
      - 1900:1900
    #devices:
      #- /dev/dri:/dev/dri #optional
      #- /dev/vcsm:/dev/vcsm #optional
      #- /dev/vchiq:/dev/vchiq #optional
      #- /dev/video10:/dev/video10 #optional
      #- /dev/video11:/dev/video11 #optional
      #- /dev/video12:/dev/video12 #optional
    restart: unless-stopped

